<nav class="nav-left">
    <ul>
        <li><a href="#">Alpha</a></li>
        <li><a href="#">Beta</a></li>
        <li><a href="#">Gamma</a></li>
        <li><a href="#">Delta</a></li>
        <li><a href="#">Iota</a></li>
        <li><a href="#">Kappa</a></li>
        <li><a href="#">Lambda</a></li>
        <li><a href="#">Alpha</a></li>
        <li><a href="#">Beta</a></li>
        <li><a href="#">Gamma</a></li>
        <li><a href="#">Delta</a></li>
        <li><a href="#">Iota</a></li>
        <li><a href="#">Kappa</a></li>
        <li><a href="#">Lambda</a></li>
        <li><a href="#">Alpha</a></li>
        <li><a href="#">Beta</a></li>
        <li><a href="#">Gamma</a></li>
        <li><a href="#">Delta</a></li>
        <li><a href="#">Iota</a></li>
        <li><a href="#">Kappa</a></li>
        <li><a href="#">Lambda</a></li>
        <li><a href="#">Alpha</a></li>
        <li><a href="#">Beta</a></li>
        <li><a href="#">Gamma</a></li>
        <li><a href="#">Delta</a></li>
        <li><a href="#">Iota</a></li>
        <li><a href="#">Kappa</a></li>
        <li><a href="#">Lambda</a></li>
    </ul>
</nav>