<aside id="nav">
    <header class="logo">
        <a href="/">
            <img class="icon" src="/static/logo-text.svg" alt="Gio logo">
        </a>
    </header>

    <form>
        <input id="search" type="text" placeholder="Search pages">
    </form>

    <nav id="nav-main">
        <ul>
            <li><a href="/" aria-describedby="current">Home</a></li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/components">Components</a></li>
            <li><a href="/showcase">Showcase</a></li>
            <li><a href="/community">Community</a></li>
        </ul>
        <hr>
    </nav>

    <nav id="nav-sub">
        <h2>Primary</h2>
        <ul>
            {{ range $i := Iterate 3 3 }}
            <li><a href="#">Item {{ $i }}</a></li>
            {{ end }}
        </ul>
        <hr>

        <h2>Secondary</h2>
        <ul>
            {{ range $i := Iterate . 50 }}
            <li><a href="#">Item {{ $i }}</a></li>
            {{ end }}
        </ul>
    </nav>
</aside>