/* Colors */

:root {
	--background: #fafafa;

	--primary-fg: #000;
	--primary-fg-lo: #333;
	--primary-bg: #fff;
	--primary-bg-lo: #fbfbfb;

	--thumb: #bbb;
	--thumb-glass: rgba(0.95, 0.95, 0.95, 0.05);
	--border: 1px solid var(--thumb);

	--shadow: rgba(0, 0, 0, 0.3);
	--shadow-nav-left: rgba(0, 0, 0, 0.1);

	--accent-fg: #fff;
	--accent-bg: #078AEA;
	--accent-bg-hi: #26a3ff;

	--subtle-fg: #333;
	--highlight-fg: #000;
	--highlight-bg: #f0f0f0;
}

/* Modular Scale */

:root {
	--ratio: 1.5;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
}

:root {
	--measure: 80ch;
}

:root {
	--font-size-small: 0.8rem;
	--font-size-base: 1rem;
	--font-size-biggish: 1.5rem;
	--font-size-big: 1.8rem;
}

/* Utilities */

.font-size\:base    { font-size: var(--font-size-base) !important; }
.font-size\:biggish { font-size: var(--font-size-biggish) !important; }
.font-size\:big     { font-size: var(--font-size-big) !important; }

/* Styling */

* { box-sizing: border-box; }

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1em;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.65em;

	background: var(--background);
}

/* Top Navigation */

/* Layouts */

.side-by-side {
	display: flex;
	position: relative;

	justify-content: center;
}

#content {
	position: relative;
	flex: 0 1 auto;
	padding: var(--s1);
}

#content > header {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--font-size-big);
	line-height: 2em;
}

#content > header .subtitle {
	font-size: var(--font-size-biggish);
	font-weight: lighter;
	line-height: 1.5em;
}

.main-and-toc {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s0);
}

main {
	max-width: var(--measure);
}

#toc {
	flex: 0 1 auto;
	min-width: calc(var(--measure) * 0.25);
	max-width: calc(var(--measure) * 0.3);
}

#toc .sticky-toc {
	position: sticky;
	top: var(--s4);
}

#nav {
	position: sticky;
	top: 0px;

	flex: 0 1 auto;
	width: calc(var(--measure) * 0.3);

	max-height: 100vh;
	overflow-y: auto;

	border-right: 1px solid var(--thumb);
}

#nav header {
	position: sticky;
	top: 0px;

	background-color: var(--background);
	padding: var(--s-1);

	display: flex;
}

#nav header.logo {
	justify-content: flex-start;
}
#nav header.logo a {
	display: block;
	flex: 1;
	max-width: calc(var(--measure) * 0.2);
}

#nav hr {
	height: 1px;
	border: 0;
	background-color: var(--thumb);
}

/* Main */

/* Adjustments to default behavior */

.side-by-side ::-webkit-scrollbar {
	width: var(--s-3);
}

.side-by-side ::-webkit-scrollbar-thumb {
	background-color: var(--thumb-glass);
	border-radius: var(--s-3);
	background-clip: content-box;

	transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
}

.side-by-side :hover::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
}