<!DOCTYPE html>
<html lang="en">
{{ template "head.html" . }}
<body>
	<div class="side-by-side">
		{{ template "nav.html" 64 }}

		<div id="content">
			<header>
				<h1>
					<div>Components</div>
					<div class="subtitle">Everything you need for building.</div>
				</h1>
			</header>

			<div class="main-and-toc">
				<main>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsam odit blanditiis vitae ratione fugit cum beatae incidunt hic nemo, veritatis eligendi itaque sapiente repudiandae qui in dicta quidem molestias.</p>

					<h2>Components</h2>

					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, ipsum perferendis reprehenderit illum, eum pariatur, voluptatibus ea sed ad unde, sequi. Ex quod blanditiis est doloremque animi pariatur explicabo odio.</p>

					<div class="big-links">
						<a href="#">Button</a>
						<a href="#">Label</a>
						<a href="#">Input</a>
						<a href="#">List</a>
					</div>

					<h2>Layouts</h2>

					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, ipsum perferendis reprehenderit illum, eum pariatur, voluptatibus ea sed ad unde, sequi. Ex quod blanditiis est doloremque animi pariatur explicabo odio.</p>

					<div class="big-links">
						<a href="#">Flexbox</a>
						<a href="#">Stack</a>
						<a href="#">List</a>
					</div>

					<h2>Widgets</h2>

					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, ipsum perferendis reprehenderit illum, eum pariatur, voluptatibus ea sed ad unde, sequi. Ex quod blanditiis est doloremque animi pariatur explicabo odio.</p>

					<div class="big-links">
						<a href="#">Clickable</a>
						<a href="#">Drag &amp; Drop</a>
						<a href="#">Hover</a>
						<a href="#">Animation</a>
					</div>

					{{ template "footer.html" }}
				</main>

				{{ template "toc.html" }}
			</div>
		</div>
	</div>
</body>
</html>