<!DOCTYPE html>
<html lang="en">
{{ template "head.html" . }}
<body>
	<div class="side-by-side">
		{{ template "nav.html" 64 }}

		<div id="content">
			<header>
				<h1>
					<div>Components</div>
					<div class="subtitle">Everything you need for building.</div>
				</h1>
			</header>

			<div class="main-and-toc">
				<main>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsam odit blanditiis vitae ratione fugit cum beatae incidunt hic nemo, veritatis eligendi itaque sapiente repudiandae qui in dicta quidem molestias.</p>
					<p>Eius, tenetur harum voluptatum tempore ut consequatur beatae molestiae vero itaque neque nulla maxime iste delectus sed tempora cupiditate aperiam unde, explicabo id nobis quo voluptas. Nam reprehenderit natus repellat.</p>
					<p>Qui unde vitae at nostrum architecto provident asperiores veniam distinctio ipsam dignissimos, illo ullam inventore voluptates dolorum in quam cum accusantium perspiciatis officia natus quia mollitia. Animi facere accusamus id!</p>
					<p>Fugiat hic eum maxime et, deleniti nostrum facilis accusamus optio tenetur vel quam atque recusandae esse ipsa itaque tempore aut ab blanditiis molestiae qui animi? Distinctio illum sit odio minus.</p>
					<p>Sapiente aut iure pariatur similique minus? Quos rerum sapiente voluptatibus, doloremque doloribus dolorum modi, autem temporibus in magnam magni ut eius! Atque laboriosam mollitia molestias, quos ex tenetur nisi excepturi.</p>

					{{ template "footer.html" }}
				</main>

				{{ template "toc.html" }}
			</div>
		</div>
	</div>
</body>
</html>