<!DOCTYPE html>
<html lang="en">
{{ template "head.html" . }}
<body>
	<div class="side-by-side">
		{{ template "nav.html" 64 }}

		<div id="content">
			<header>
				<h1>
					<div>Guides</div>
					<div class="subtitle">Everything you need to get started.</div>
				</h1>
			</header>

			<div class="main-and-toc">
				<main>
					<h2>Install</h2>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

					<div class="big-links">
						<a href="#">macOS</a>
						<a href="#">Windows</a>
						<a href="#">Linux</a>
						<a href="#">iOS</a>
						<a href="#">Android</a>
						<a href="#">WebAssembly</a>
					</div>

					<h2>Get started</h2>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

					<div class="big-links">
						<a href="#">Hello World<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></a>
						<a href="#">Input<p>Lorem ipsum dolor sit amet consectetur adipisicing, </p></a>
						<a href="#">Layouts<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
						<a href="#">Lists<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
						<a href="#">Requests<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
						<a href="#">Images<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
						<a href="#">Multiple Views<p>Lorem ipsum dolor sit amet consectetur adipisicing, </p></a>
						<a href="#">Testing<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
					</div>

					<h2>Tutorials</h2>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

					<div class="big-links">
						<a href="#">Egg Timer<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></a>
						<a href="#">Gallery<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p></a>
						<a href="#">Temperature<p>Bidirectional content binding.</p></a>
						<a href="#">Split View<p>Implementing custom layout.</p></a>
						<a href="#">CRUD<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></a>
						<a href="#">Spreadsheet<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></a>
					</div>

					<p>Fugiat hic eum maxime et, deleniti nostrum facilis accusamus optio tenetur vel quam atque recusandae esse ipsa itaque tempore aut ab blanditiis molestiae qui animi? Distinctio illum sit odio minus.</p>

					<h2>Into the deep end</h2>

					<p>Things you need to know when you start to write your own components.</p>

					<div class="big-links">
						<a href="#">Immediate Mode</a>
						<a href="#">Window</a>
						<a href="#">Operations</a>
						<a href="#">Animation</a>
						<a href="#">Images</a>
						<a href="#">Text</a>
						<a href="#">Input</a>
						<a href="#">Units</a>
						<a href="#">Context</a>
						<a href="#">Layout</a>
					</div>

					{{ template "footer.html" }}
				</main>

				{{ template "toc.html" }}
			</div>
		</div>
	</div>
</body>
</html>